<table>

  <h2>item detail</h2>
  <thead>
    <tr>
	    <th>Title</th>
	    <th></th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
			<tr>
						<td><%= item.title %></td>
						
			</tr>
		<% end %>
	</tbody>
</table>