<table class="table table-striped">

                <h2>item detail</h2>
            <thead>
		          <tr>
						    <th>Title</th>
						    <th></th>
				  </tr>
			</thead>

			<tbody>
				<tr>
							<td><%= @item.title %></td>
							<td><%= @item.descs %</td>
							<td><%=  %></td>
							<% end %>
				</tr>
			</tbody>
		  </table>
		</div>
	 </div>
</div>



